@using Microsoft.AspNetCore.Identity
@using MkAffiliationManagement.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<MkAffiliationManagement.Models.Advertisment>

@{
    ViewData["Title"] = "All Sponsorships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="row py-5">
    <div class="col-lg-9 mx-auto text-white text-center">
        <h1 class="display-4">My Promotions!</h1>


    </div>
</div>

@if (SignInManager.IsSignedIn(User) && User.IsInRole(ApplicationRoles.Admin))
{


    <div class="row py-5">
        <div class="col-lg-9 mx-auto text-white text-center">
            <a class="col btn btn-dark-moon btn-rounded text-center" style="display: flex; flex-direction: column; justify-content: center; text-align: center; height:100px;
" asp-action="Create">Create New</a>

        </div>
    </div>
}

<table class="table" style="background:white; border:solid black 2px; border-radius:12px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductEndorsment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPromotionalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>

            <th>
                @if (!User.IsInRole(ApplicationRoles.Admin))
                {
                    <p>CLICK ME!</p>
                }
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ProductName)</a>
                </td>
                <td style="width:150px;">
                    @Html.DisplayFor(modelItem => item.ProductEndorsment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPromotionalCode)
                </td>
                <td>
                    <a class="btn btn-outline-primary btn-lg" href="@Html.DisplayFor(modelItem => item.ProductLink)">PRODUCT LINK</a>
                </td>
                <td>
                    <img width="250" height="380" src="@item.Image" />
                </td>
                <td>
                    @if (!User.IsInRole(ApplicationRoles.Admin))
                    {
                        <a class="btn btn-outline-success btn-lg" href="@Html.DisplayFor(modelItem => item.ProductLink)">BUY ME!</a>
                    }
                </td>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole(ApplicationRoles.Admin))
                {

                    <td>
                        <a style="margin-bottom:10px;" class="btn btn-outline-primary btn-lg" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a class="btn btn-outline-secondary btn-lg" asp-action="Details" asp-route-id="@item.ID">Details</a>
                        <a style="margin-top: 10px " class="btn btn-outline-danger btn-lg" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

